<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Museum of Art & History</h5>
        <p>123 Museum Street<br />City, Country</p>
      </div>
      <div class="col-md-4">
        <h5>Opening Hours</h5>
        <p>
          Monday - Friday: 9:00 AM - 5:00 PM<br />
          Saturday - Sunday: 10:00 AM - 6:00 PM
        </p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="exhibitions.html" class="text-white">Exhibitions</a></li>
          <li><a href="collections.html" class="text-white">Collections</a></li>
          <li><a href="events.html" class="text-white">Events</a></li>
          <li><a href="contact.html" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
