<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="../index.html">Museum of Art & History</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="exhibitions.html">Exhibitions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="collections.html">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="moreDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            More
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="moreDropdown"
            style="max-height: 300px; overflow-y: auto">
            <li>
              <a class="dropdown-item" href="connect_with_us.html"
                >Connect With Us</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="browse_online_store.html"
                >Browse Online Store</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="view_museum_map.html"
                >View Museum Map</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="view_basket.html">View Basket</a>
            </li>
            <li>
              <a class="dropdown-item" href="view_classes.html">View Classes</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="make_partnership.html"
                >Make Partnership</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="search_for_sponsor.html"
                >Search For Sponsor</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="view_volunteering_opportunities.html"
                >View Volunteering Opportunities</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="join_community.html"
                >Join Community</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="access_member_program.html"
                >Access Member Program</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="view_volunteer_missions.html"
                >View Volunteer Missions</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="propose_research.html"
                >Propose Research</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="manage_collections.html"
                >Manage Collections</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="manage_events.html"
                >Manage Events</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="manage_visits.html"
                >Manage Visits</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="subscribe_to_newsletter.html"
                >Subscribe to Newsletter</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="apply_for_volunteering.html"
                >Apply for Volunteering</a
              >
            </li>
            <li><a class="dropdown-item" href="donate.html">Donate</a></li>
            <li>
              <a class="dropdown-item" href="buy_souvenir.html">Buy Souvenir</a>
            </li>
            <li>
              <a class="dropdown-item" href="access_library.html"
                >Access Library</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="explore_galleries.html"
                >Explore Galleries</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="search_view_study.html"
                >Search & View Study</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="sign_up_to_classes.html"
                >Sign Up to Classes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="view_research_cafe.html"
                >View Research Cafe</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="edit_profile.html">Edit Profile</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="change_username.html"
                >Change Username</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="change_profile_picture.html"
                >Change Profile Picture</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="fill_volunteering_form.html"
                >Fill Volunteering Form</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light ms-2" href="login.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ms-2" href="register.html">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
